
.my_navbar {
    background-color: #55004a ;
    color: white;
}

a {
    color: inherit ;
}
a:hover {
    color: inherit ;
    text-decoration: inherit ;
}
a:visited {
    color: inherit;
}

.content-box {
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: #000000 ;
}

.headline {
    
}